@import "modules/reset.scss";
@import "modules/fonts.scss";
@import "modules/colors";
@import "modules/mixins";

@import "partials/base";
@import "partials/header";
@import "partials/footer";
@import "partials/banner.scss";
@import "partials/content.scss";


*{
  padding: 0;
}
.containter{
  width: 1024px;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  align-items: center;
}


nav >ul {
  width: 320px;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
}
li{
  list-style-type: none;
  /*border: 1px solid yellow;*/
}
.greenText{
  color: #24ba9f;
}

.dropdown{
  /*display: none;*/
  position: absolute;
  /*height: 50px;*/
  padding-top: 30px;
  /*left:0;*/
  padding-left: 0;
}

.dropdown li{
  background-color: black;
  width: 100px;

}
.li_dropdown{
  position: relative;
}
.dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 20px;
  left: 45px;
  border-bottom: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}





/*

.checkbox span {
    display: block;
    background-color: grey;
    width: 30px;
    height: 30px;
}
.checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.checkbox input:checked + span {

}*/
