.button{
  padding: 10px 35px;
  //width: 260px;
  //height: 60px;
  background: $color-button;
  color: white;
  border-radius: $radius-size;
  font-size: 24px;
  //@include shadow;
  text-align: center;
  //@include desktop{
  //  display: -webkit-flex;
  //  display: -ms-flex;
  //  display: flex;
  //  text-align: left;
  //}
  //&__left{
  //  margin-bottom: 25px;
  //  h1{
  //    font-size: $font-huge;
  //    font-weight: $weight-huge;
  //    margin-bottom: 20px;
  //  }
  //  p{
  //    font-size: $font-big;
  //    font-weight: $weight-tiny;
  //    line-height: 1.33;
  //  }
  //  @include desktop{
  //    padding-right: 50px;
  //  }
  //}
  //&__right{
  //
  //}
}
