$radius-size: 10px;


*{
  box-sizing: border-box;
  padding: 0;
}
.containter{
  width: 1058px;
  margin: 0 auto;
}

.flexStyle{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.flexStyle__wrap{
  flex-wrap: wrap;
}


#changer{
  position: relative;
}
.changePicturenext{
  position: absolute;
  width: 200px;
  height: 100px;
  right: 0;
  bottom:200px;
}
.changePicturepref{
  position: absolute;
  width: 200px;
  height: 100px;
  left: 0;
  bottom:200px;
}













